# Ignore artifacts:
build
coverage

# Ignore generated pnpm lock file
pnpm-lock.yaml

# Generated JetBrains IDE folder
.idea

# Ignore to avoid "No parser" error
.prettierignore
.gitignore
.env.example
*.txt

app/graphql
